{% extends "base.html" %}
{% block body %}
  <div class="container">
    {# Новый ряд в таблице. mt-5 делает отступ #}
    <div class="row mt-5">
      <div class="col-md">
        <h2>Ask a question</h2>
        <form action="/ask-question/" method="post">
          {% csrf_token %}
          {# автоматически отрендерить форму #}
          {{ form }}
          {# или создать все нужные теги вручную #}
          {# раскомментируйте, чтобы заработало #}
          {# документацию по красивым формам из bootstrap можно посмотреть здесь: #}
          {# http://bootstrap-4.ru/docs/4.3.1/components/forms/ #}
{#          <div>#}
{#            <label for="{{ form.text.id_for_label }}">Question text</label>#}
{#            {{ form.text }}#}
{#          </div>#}
          <input type="submit" value="Ask">
        </form>
      </div>
    </div>
  </div>
{% endblock %}