{% extends "base.html" %}
{% block body %}
  <div class="container">
    {# Новый ряд в таблице. mt-5 делает отступ #}
    <div class="row mt-5">
      <div class="col-md">
        <h2>Ask a question</h2>

{#      Генерация красивой формы, используя стили из bootstrap #}
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Ask</button>
        </form>
{# документацию по красивым формам из bootstrap можно посмотреть здесь: #}
{# http://bootstrap-4.ru/docs/4.3.1/components/forms/ #}

{#        Генерация формы по-умолчанию (очень некрасивая форма) #}
{#        <form> #}
{#          {% csrf_token %} #}
{#          {{ form }} #}
{#          <input type="submit"> #}
{#        </form> #}
      </div>
    </div>
  </div>
{% endblock %}