{% extends "base.html" %}

{% block body %}
  {# Контейнер (сетка), в котором будет располагаться основное тело #}
  <div class="container">
    {# Новый ряд в таблице. mt-5 делает отступ #}
    <div class="row mt-5">
      {# Новая колонка в ряду #}
      <div class="col-md">
        <h2>Hello!</h2>
        <p class="lead">Hello world</p>
      </div>

      {# Новая колонка в ряду #}
      <div class="col-md">
        <h2>Examples</h2>
        <p><a href="https://google.com">google it</a></p>
        <ul>
          <li>Point 1</li>
          <li>Point 2</li>
          <li>Point 3</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}